<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Prevent rewriting of actual existing files
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite all requests to index.html
  RewriteRule ^ /index.html [L]
</IfModule>
